//
// Global Settigns
// --------------------------------------------------

body {
	overflow: hidden;
	overflow-y: scroll;
}

* {
	box-sizing: border-box;
}

.container {
	@include container()
}

.error {
	color: $errorColor; 
}

.success { 
	color: red;
}

img {
	image-rendering: -webkit-optimize-contrast;
	display: block;
	width: 100%;
}

.info {
	position: absolute;
	top: .625rem;
	left: .625rem;

	.name,
	.date {
		display: inline-block;
		margin: 0;
	}

	.name {
		font-family: 'Oswald', sans-serif;
		font-weight: 500;
	}

	.date {
		font-family: 'Oswald', sans-serif;
		font-weight: 200;
	}
}

.container {
	padding: 50px 0;

	&.dev {
		.subject {
			display: flex;

			.left {
				flex: 0 0 40%;
				margin-top: -3.125rem;
				margin-right: 3.125rem;
			}

			.right {
				flex: 0 0 60%;
				position: relative;

				.image {
					position: absolute;
					width: auto;
					height: 100%;

					&:last-of-type {
						bottom: -1.25rem;
						left: 3.125rem;
					}
				}

				&.visual {
					&:after {
						content: "// TURNING DESIGN INTO REALITY";
					}
				}
			}
		}
	}

	&.design {
		padding-top: 9.375rem;
		padding-bottom: 6.25rem;

		.subject {
			display: flex;
			flex-direction: row-reverse;

			.left {
				flex: 0 0 40%;
				margin-right: 6.25rem;
				margin-top: 3.125rem;
			}

			.right {
				flex: 0 0 60%;
				position: relative;

				.image {
					max-height: 20.625rem;
					width: auto;
					float: right;
					margin-right: 6.25rem;
				}

				&.visual {
					&:after {
						content: "// CREATE AESTHETICALLY APPEALING DESIGNS";
						left: 9.375rem;
    					max-width: 26.25rem;
					}
				}
			}
		}
	}

	&.photography {
		position: relative;
		.subject {
			display: flex;

			.left {
				flex: 0 0 30%;
				position: relative;

				.image {
					&:first-of-type {
						margin-top: 1.5625rem;
					}
				}

				.letter {
					position: absolute;
					width: auto;
					height: 26.875rem;
					z-index: -1;
					left: 3.125rem;
					transform: rotate(-5deg);
				}
			}

			.middle {
				flex: 0 0 30%;
				margin: 0 3.125rem;
			}

			.right {
				flex: 0 0 30%;
				position: relative;

				&.visual {
					&:after {
						content: "// PERFECT IMAGES MAKE PERFECT CONTENT";
					}
				}
			}
		}
	}

	&.ui {
		.subject {
			display: flex;

			.left {
				flex: 0 0 40%;
				margin-right: 3.125rem;
				position: relative;

				.letter {
					position: absolute;
					width: auto;
					height: 26.875rem;
					left: 0;
					transform: rotate(-2deg);
				}
			}

			.right {
				flex: 0 0 60%;
				position: relative;

				.image {
					&:last-of-type {
						position: absolute;
						bottom: -5.625rem;
						left: -9.375rem;
					}
				}

				.letter {
					position: absolute;
					width: auto;
					height: 26.875rem;
					z-index: -1;
					right: 0;
					top: -22.5rem;
					transform: rotate(5deg);
				}

				&.visual {
					&:after {
						content: "// DESIGN WIREFRAMES & PROTOTYPES";
						top: 6.25rem;
					}
				}
			}
		}
	}

	&.ux {
		.subject {
			display: flex;

			.left {
				flex: 0 0 40%;
				margin-right: 3.125rem;
			}

			.right {
				flex: 0 0 60%;
				position: relative;

				&.visual {
					&:after {
						content: "// CREATE MEANINGFULL EXPERIENCES";
						bottom: 6.25rem;
						top: unset;
					}
				}
			}
		}
	}

	.visual {
		cursor: pointer;

		&:after {
			font-family: 'Oswald', sans-serif;
			font-weight: 500;
			background: black;
			padding: .625rem;
			position: absolute;
			top: .9375rem;
			left: .625rem;
			color: red;
			z-index: 10;
			font-size: 2.5rem;
			display: none;
		}

		&:hover {
			&:after {
				display: block;
			}
		}
	}
}